/*Медиазапросы*/

@media (min-width: 0) and (max-width: 1199px) {
    .container {
        padding: 0 15px;
    }

    .article_tags_text {
        display: flex;
        flex-wrap: wrap;
    }

    .article_tags_text a {
        margin-bottom: 8px;
    }

    .paper__info {
        width: 50%;
    }

    .paper__image {
        width: 50%;
        max-width: 50%;
    }

    .paper__pinks .paper__info {
        width: 50%;
    }
}

@media (min-width: 0) and (max-width: 991px) {
    .article {
        padding-right: 15px;
    }

    .article_text {
        margin: 56px 0;
        padding: 0;
    }

    .short_article {
        width: calc(50% - 18px);
    }

    .short_article:nth-child(3n) {
        margin-right: 18px;
    }

    .article_container {
        margin-right: -18px;
    }

    .advantage__item {
        width: 50%;
        max-width: 50%;
        min-height: 250px;
    }

    .paper__info {
        padding-right: 40px;
    }

    .paper__pinks .paper__info {
        padding-left: 40px;
        padding-right: 0;
    }

    .rate__numb {
        padding-left: 0;
    }

    .rate__numb_big {
        font-size: 47px;
    }

    .rate__text {
        min-height: 150px;
    }
}

@media (min-width: 0) and (max-width: 767px) {
    .case {
        flex-direction: column;
    }

    .article {
        width: 100%;
        padding-right: 0;
    }

    .sidebar {
        width: 100%;
    }

    .article_tags {
        flex-direction: column;
    }

    .article_tags_author {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .article_tags_text {
        margin-top: 32px;
    }

    .foot {
        flex-direction: column;
        padding: 24px 0;
    }

    .foot_logo {
        order: 0;
        margin-bottom: 24px;
    }

    .foot_soci {
        order: 1;
        margin-bottom: 16px;
    }

    .foot_copy {
        order: 2;
    }

    .paper {
        flex-direction: column-reverse;
    }

    .paper__image {
        width: 100%;
        max-width: 100%;
    }

    .paper__info {
        width: 100%;
        padding-right: 0;
    }

    .paper__info {
        width: 100%;
        padding-right: 0;
        margin-top: 56px;
    }

    .paper__pinks .paper {
        flex-direction: column-reverse;
    }

    .paper__pinks .paper__info {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .price__info_rate {
        width: 100%;
        margin-right: 0;
        border: 1px solid #FEEEEE;
        padding: 32px 24px 16px;
    }

    .rate__text {
        min-height: auto;
    }

    .rate__numb_big {
        font-size: 56px;
    }

    .price__info_rate {
        margin-bottom: 32px;
    }

    .price__info_rate:last-child {
        margin-bottom: 0;
    }

    .contact__us {
        padding: 40px;
    }

    .foot_copy {
        border-top: 1px solid #9A8E98;
        width: 100%;
        padding-top: 16px;
    }
    .foot_soci a svg {
        width: 32px;
        height: 32px;
    }

}

@media (min-width: 0) and (max-width: 575px) {
    .short_article {
        width: 100%;
    }

    .short_article {
        width: 100%;
        margin-right: 0;
    }

    .short_article:nth-child(3n) {
        margin-right: 0;
    }

    .article_container {
        margin-right: 0;
    }

    .about__main_info-head h1 {
        margin-top: 95px;
    }
    .about__description {
        padding: 56px 0;
    }

    .advantage__item {
        width: 100%;
        max-width: 100%;
        min-height: 220px;
    }

    .contact__us {
        padding: 56px 16px;
    }

    .form-row {
        flex-direction: column;
    }
    .form-row .form-group:nth-child(1) {
        margin-right: 0;
    }

    .form-row .form-group:nth-child(2) {
        margin-left: 0;
    }

    .btn-button-send {
        width: 100%;
    }

    .footer {
        margin-top: 56px;
    }

    .about__description_head h2,
    .price__info_head h2,
    .paper__info_head h2 {
        font-size: 24px;
        line-height: 29px;
    }

    .b-form {
        padding: 56px 16px 74px;
    }

    .form__head {
        margin-left: 0;
        font-size: 24px;
        line-height: 120%;
    }

    .form__slag {
        margin-left: 0;
        font-size: 24px;
        line-height: 120%;
    }

    .form__description {
        margin-left: 0;
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .contact__us .form-row .form-group:nth-child(1), .b-form .form-row .form-group:nth-child(1) {
        margin-right: 0;
        margin-bottom: 24px;
    }

    .contact__us .form-row .form-group:nth-child(2), .b-form .form-row .form-group:nth-child(2) {
        margin-left: 0;
        margin-bottom: 24px;
    }
}

@media (min-width: 0) and (max-width: 479px) {

}

@media (min-width: 0) and (max-width: 360px) {

}